.search_bt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    color: red;
}

.search_bt p{
    margin: 0;
    margin-right: 4px;
    color: aqua;
}

